/StandardsLibrary/obj
/StandardsLibrary/bin
/CommonLibrary/bin
/CommonLibrary/obj
/HelperLibrary/obj
/HelperLibrary/bin
/LoggerLibrary/obj
/LoggerLibrary/bin
/ProcessDocument.WPF/obj
/ProcessDocument.WPF/bin
/ProcessDocumentCore/obj
/ProcessDocumentCore/bin
/StandardsLibrary/obj
/StandardsLibrary/bin
/packages
